body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Quicksand', sans-serif;
  background-image: url("../img/romane/fondo-gatitos.jpg");
  /* background-color:lightyellow; */
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/romane/Portada2.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: left;
}

.titulonav{
  /* font-family: 'M PLUS Rounded 1c', sans-serif; */
  /* font-family:fantasy; */
  font-family: 'Shadows Into Light';
}


h3{
  text-align: center;
}

 h1,h2{
  font-family: 'Shadows Into Light';
 }


.fotos{
  width: auto;
  height:auto;
}


/* #Acerca-de-romane, #pasatiempos{
  background-color:lightyellow;
} */



.carrusel{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
