body {
  font-family: 'Quicksand', sans-serif;
  background-image: url("../img/romane/fondo-gatitos.jpg");
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/romane/Portada2.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: left;
}

.titulonav{
  font-family: 'Mali', cursive;
}


h3{
  text-align: center;
}

 h1,h2{
  font-family: 'Shadows Into Light';
 }


.fotos{
  width: auto;
  height:auto;
}

.carrusel{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
